DATABASE_URL
SECRET=MIIBOwIBAAJBALo5BJYD3Ua2/MTuITnWHk6pUiCk6D65Rsa/5os38zv5BxJYXN0CiQgjORzOrRUGoL7+O0FEsYZyxfK/+PBNtFUCAwEAAQJBAKACjiY4e9FfOiIcWwBPMwt0AdV63PPIT0BHc9j74kwMW7VHj+ZD6Qfy5p9R8VuMLclgWKRDMVYVXPRZ382XpAECIQD5Xt/9NGSVXPax8PiG6k2ea7k6w6dQn+BGB3BMNdEIdQIhAL8sYbE+ZxxiWIEfuR+rFFM4eWZypntMcns4Rd9kg4BhAiBazqKwOLj77wtihsZpkr7LFp0v+flekamAtsq85cgF1QIhALWPzxBotcDtXiT0HfuHnXwULKgxxw9e4XNJVIL/kSzBAiA4eRpWKnTA17QXvWH6HubUi9hMaYrlBcljWWr9uwsbzA==